/* <!---------------------------We Are -----------------------------------> */
@media (max-width:1230px){
    .We_Are_about_content p {
        font-size: 21px;
        line-height: 41px;
    }
}
@media (max-width:1175px){
    .We_Are_about_content p {
        font-size: 20px;
        line-height: 39px;
    }
}
@media (max-width:1074px){
    .We_Are_Head h1 {
        font-size: 84px;
    }
    .We_Are_about_head h1 {
        font-size: 90px;
    }
    .We_Are_img_carousal .carousel-item img {
        height: 570px;
    }
    .We_Are_about_head p {
        font-size: 36px;
    }
    .We_Are_about_content p {
        line-height: 36px;
    }
}
@media (max-width:987px){
    .We_Are_Head h1 {
        font-size: 80px;
    }
    .We_Are_img_carousal .carousel-item img {
        height: 545px;
    }
    .We_Are_about_content p {
        line-height: 32px;
    }
    .We_Are_about_head h1 {
        font-size: 80px;
    }
    .We_Are_about_head p {
        font-size: 30px;
    }
}
@media (max-width:881px){
    .We_Are_Head h1 {
        font-size: 77px;
        line-height: 72px;
    }
    .We_Are_img_carousal .carousel-item img {
        height: 520px;
    }
    .We_Are_about_content p {
        line-height: 29px;
    }
    .We_Are_about_head h1 {
        font-size: 65px;
    }
    .We_Are_about_head p {
        font-size: 26px;
    }
}
@media (max-width:806px){
    .We_Are_about_content p {
        line-height: 27px;
    }
    .We_Are_about_head h1 {
        font-size: 60px;
    }
    .We_Are_about_head p {
        font-size: 23px;
    }
}
@media (max-width:725px){
    .We_Are_img_carousal .carousel-item img {
        height: 460px;
    }
    .we_are_about_img.col-5 {
        width: 100%;
    }
    .We_Are_about_content.col-7 {
        width: 100%;
    }
    /* .row.about_row1 {
        flex-direction: column-reverse;
    } */
    .col-7.head {
        width: 100%;
        text-align: center;
    }
    .We_Are_about_head {
        padding-bottom: 20px;
    }
    .we_are_about_img img {
        height: 500px;
        margin-bottom: 60px;
        object-fit: contain;
    }
    .We_Are_about_content p {
        font-size: 18px;
    }
}
@media (max-width:580px){
    .We_Are_Head h1 {
        font-size: 68px;
        line-height: 66px;
    }
    .We_Are_img_carousal .carousel-item img {
        height: 400px;
    }
    .We_Are_about_content p {
        line-height: 23px;
    }
    .we_are_about_img img {
        height: 508px;
    }
}
@media (max-width:425px){
    .We_Are_Head h1 {
        font-size: 52px;
        line-height: 43px;
    }
    .We_Are_img_carousal .carousel-item img {
        height: 344px;
    }
    .We_Are_about_content p {
        line-height: 23px;
    }
    .We_Are_about_content p {
        font-size: 18px;
    }
    .we_are_about_img img {
        height: 358px;
    }
    
}
@media (max-width:375px){
    .We_Are_Head h1 {
        font-size: 37px;
        line-height: 38px;
    }
    .We_Are_img_carousal .carousel-item img {
        height: 314px;
    }
    .We_Are_about_head p {
        font-size: 21px;
    }
    .We_Are_about_head h1 {
        font-size: 51px;
    }
    .We_Are_about_content p {
        font-size: 16px;
    }
    .We_Are_about_content p {
        line-height: 21px;
    }
    .we_are_about_img img {
        height: 320px;
    }
}







/* <!---------------------------We Do -----------------------------------> */
@media  (max-width: 1300px) {
    .we_do_services {
        width: 77%;
    }
}
@media  (max-width: 1200px) {
    .we_do_services {
        width: 80%;
    }
    .we_do_services img {
        width: 65px;
    }
    .we_do_services h5 {
        font-size: 23px;
    }
    .We_do_head h1 {
        font-size: 92px;
    }
    .We_do_head h3 {
        font-size: 44px;
    }
    .We_do_head p {
        font-size: 36px;
        margin-bottom: -19px;
    }
    .we_do_services p {
        font-size: 15px;
    }
}

@media  (max-width: 1112px) {
    .we_do_services {
        width: 82%;
    }
    .we_do_services h5 {
        font-size: 21px;
    }
}
@media  (max-width: 1024px) {
    .We_do_head p {
        font-size: 34px;
    }
    .We_do_head h1 {
        font-size: 89px;
    }
    .We_do_head h3 {
        font-size: 42px;
    }
    .We_Do_img_carousal .carousel-item img {
        height: 350px;
    }
    .we_do_services {
        width: 82%;
    }
    .we_do_services img {
        width: 63px;
    }
    .we_do_services .list_row {
        padding-bottom: 28px;
    }
    .we_do_services p {
        line-height: 15px;
    }
}
@media  (max-width: 991px) {
    .we_do_services .list_row {
        padding-bottom: 20px;
    }
    .we_do_services h5 {
        font-size: 19px;
    }
}
@media  (max-width: 768px) {
    .we_do_services .col-6{ 
        width: 100%;
    }
    .We_do_head p {
        font-size: 32px;
    }
    .We_do_head h1 {
        font-size: 82px;
    }
    .We_do_head h3 {
        font-size: 39px;
    }
    .we_do_services h5 {
        font-size: 21px;
    }

}

@media  (max-width: 425px) {
    .We_do_head h1 {
        font-size: 74px;
    }
    .We_do_head h3 {
        font-size: 32px;
    }
    .We_do_head p {
        font-size: 28px;
    }
    .We_Do_img_carousal .carousel-item img {
        height: 250px;
    }
    .we_do_services {
        padding-bottom: 111px;
    }
    .we_do_services h5 {
        font-size: 20px;
    }
    .we_do_services p {
        font-size: 13px;
    }
    .we_do_services img {
        width: 55px;
    }
}
@media  (max-width: 375px) {
    .We_do_head h1 {
        font-size: 64px;
    }
    .We_do_head h3 {
        font-size: 28px;
    }
    .We_do_head p {
        font-size: 23px;
        margin-bottom: -8px;
    }   
    .we_do_services h5 {
        font-size: 19px;
    }

}
@media  (max-width: 349px) {
    .we_do_services h5 {
        font-size: 17px;
    }
    .We_do_head h3 {
        font-size: 25px;
    }
    .we_do_services p {
        font-size: 11px;
    }
    .we_do_services .list_row {
        padding-bottom: 14px;
    }
} 

/* <!-------------------------------------Contact-------------------------> */
@media (max-width: 1253px) {
    .contact {
        width: 77%;
    }
    .contact_head h3 {
        font-size: 38px;
    }
    .contact_head p {
        font-size: 21px;
    }
    .row.row_1 {
        gap: 26px;
    }
    .social_contact {
        gap: 25px;
    }
}
@media (max-width: 1105px) {
    .contact {
        width: 83%;
    }
    .contact_head h3 {
        font-size: 36px;
    }
    .social_contact {
        gap: 22px;
    }
    .row.row_1 {
        gap: 21px;
    }
}
@media (max-width: 1002px) {
    .contact {
        width: 91%;
    }
    .icon {
        width: 46px;
        height: 46px;
        line-height: 51px;
    }
    .social_contact .icon i {
        font-size: 20px;
    }
    .social_contact .social_cont_1 a {
        font-size: 21px;
    }
    .social_contact .social_cont a {
        
        font-size: 24px;
    }
    .row.row_1 {
        gap: 12px;
    }
}
@media (max-width: 991px) {
    .contact {
        width: 95%;
    }
    .contact_head h3 {
        font-size: 29px;
    }
    .contact_head p {
        font-size: 17px;
    }
    .contact_head p {
        margin-bottom: 46px;
    }
}
@media (max-width: 767px) {
    .contact_head h3 {
        font-size: 22px;
    }
    .contact_head p {
        font-size: 16px;
    }
    .icon {
        width: 40px;
        height: 40px;
        line-height: 43px;
    }

    .social_contact .icon i {
        font-size: 18px;
    }
    .row.row_1 {
        gap: 0px;
    }
    .social_contact {
        gap: 17px;
        padding-bottom: 27px;
    }
    iframe#Map {
        height: 266px;
        width: 100%;
    }
    .social_contact {
        gap: 5px
    }
    .social_contact .social_cont_1 a {
        font-size: 16px;
    }
    .social_contact .social_cont a {
        font-size: 17px;
    }
    
}
@media (max-width: 576px) {
    .contact {
        width: 85%;
    }
    .contact_head h3 {
        font-size: 20px;
    }
    .contact_head p {
        text-align: justify;
    }
    .col-5.phonenum {
        width: 100%;
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 44px;
    }
    .Social_meadia_icons {
        gap: 27px;
    }
    .Social_meadia_icons a {
        font-size: 25px;
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 353px) {
    .contact_head h3 {
        font-size: 17px;
    }
    .contact_head p {
        font-size: 14px;
    }
    iframe#Map {
        height: 231px;
    }
}

/* ---------------------------------Footer-------------------- */
@media (max-width: 1200px) {
   
    #footer_text {
        color: #fff;
        font-family: var(--paragraph-font-family);
        font-size: 12px;
    }
    .footer_social {
        padding-bottom: 10px;
    }
    .footer_social .footer_social_cont a {
        font-size: 12px;
    }
    .foooter_icon i {
        font-size: 15px;
    }
    .footer_Social_meadia_icons a i {
        font-size: 17px;
    }
    iframe#footer_map {
        height: 135px;
    }
}
@media (max-width: 992px) {
    .footer_logo img {
        width: 82%;
    }
    #footer_text {
        font-size: 10px;
    }
    #footer_row {
        justify-content: space-between;
    }
    .footer_social {
        gap: 23px;
    }
    iframe#footer_map {
        height: 117px;
        width: 85%;
    }
}
@media (max-width: 768px) {
    .footer_social .footer_social_cont a {
        font-size: 9px;
    }
    iframe#footer_map {
        height: 100px;
        width: 100%;
    }
    .footer_social {
        padding-bottom: 4px;
        gap: 10px;
    }
    #footer_text {
        font-size: 9px;
    }
}
@media (max-width: 450px) {
    /* #footer_row {
        justify-content: space-evenly;
    } */
    #footer_row .footer_log_col{
        width: 100%;
        text-align: center;
    }
    #footer_row .footer_log_col-2{
        width: 50%;
        text-align: center;
    }
    #footer_text {
        font-size: 16px;
    }
    .footer_logo a img {
        width: 45%;
    }
    #footer_row {
        justify-content: space-evenly;
    }
}